:root{
    --dark: rgba(29, 27, 27, 0.71);
    --darker:rgba(8, 7, 7, 0.906);
    --light:#FAF9F6;
    --white:#FFFFE4;
    --background:#008080;
    --box-backgrounud:#C0C0C0;
    --title-background: #000080;
   
}

body{
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    color: black;
}
@font-face {
    font-family: "MS-Sans-Serif";
    src: url('fonts_icons/ms-sans-serif-1/ms-sans-serif-1.ttf') format('truetype');
}

*{
    box-sizing: border-box;
    margin:0;
    font-family: 'MS-Sans-Serif';
}
header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

}
header h1{
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: white;
    background-color: var(--title-background);
    border-style: outset;
    border-width:5px;

}
#main-content{
    background-color: var(--box-backgrounud);
}
#task-manager{
    display: flex;
    flex: 0 1 25%;    
    flex-direction: column;
    background-color: var(--box-backgrounud);

}
#new-task-form{
    display: flex;
    

}
input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;

}
#new-task-input{
    flex: 1 1 0%;
    background-color: white;
    padding: 0.8rem;
    color: gray;
    margin-right: 1rem;
    font-size: 1rem;
    border-style: inset;
}
#new-task-input::placeholder{
    color: black;
}
#new-task-submit{
    border-style:outset;
    border-width: 2.5px 3.5px 3.5px 2.5px ;
    border-left-color:black ;
    border-bottom-color:black ;
    color: black;
    background-color: var(--box-backgrounud);
    font-size: 1rem;
    font-weight: 300;
    padding: 0 0.5rem 0 0.5rem;
    cursor: pointer;
    transition: 0.4s;

}
#new-task-submit:hover{
    opacity: 0.8;
}
#new-task-submit:active{
    background-color: #7F7F7F;
    border-style: inset;
}

main{
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.task-list{
    padding: 0rem;
}
.task-list h2{
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: gray;
}
#tasks .task{
    display: block;
    block-size: auto;
    justify-content: space-between;
    background-color:var(--box-backgrounud);
    margin-bottom: 1rem;
    padding: .2rem;
    padding-bottom: 0;
    border-style: inset;
    
    

}
#tasks .task.content{
    flex: 1 1 0%;
}
#tasks .task .content .text{
    color: black;
    font-size: 0.8rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#tasks .task .content .text:not(:read-only){
    color: white;
    background-color: #000080;
}
#tasks .task .actions{
    display: flex;
    flex-direction: row;
    background-color: var(--box-backgrounud);
    align-items: end;
    justify-content: end;

   
}

.task .actions button{
    background-color: var(--box-backgrounud);
    cursor: pointer;
    margin: 0;
    margin-left: 0.5rem;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    border-style: outset;
    padding: 0 0.6rem 0 0.5rem;
    border-left-color:black ;
    border-bottom-color:black ;



}
.task .actions button:hover{
    opacity: 0.8;
}
.task .actions button:active{
    opacity: 0.6;
}

.task .actions .edit{
    color: black;
}
.task .actions .delete{
    color: black;
}

