<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <link rel="stylesheet" href="todo.css">
    <script src="../controllers/todoControler.js"></script>
    
</head>
<body> 
    <main id ="main-content">
        <header>
        <h1>Todo List</h1>
        </header>
        <div class="apps">
            <button id="notes_icon"><img src="Notepad.ico" alt="Notepad"/></button>
        </div>
    </main>  
    <aside id="task-manager" >
        <div class="exit-bar">
            <button id="close-window" class="exit-bar">X</button>
        </div>
        <header class="title">
            <h2>Task-Manager</h2>
            <br><p><em>"The jobs not finished"</em>- Kobe</p></br>
            <form id="new-task-form" method="POST" action="/">
                <input 
                type="text"
                id="new-task-input"
                placeholder="What's the next move"/>
                <input 
                type="submit"
                id = "new-task-submit"
                value="Add task"/>
            </form> 
        </header>
        <main>
            <section class="task-list">
                <h2>
                    Tasks
                </h2>
                <div id="tasks">
                    <!-- <div class="task">
                        <div class="content">
                            <input 
                            type="text"
                            class="text"
                            value="My next move"
                            readonly
                            />

                        </div>
                        <div class="actions">
                            <button class="edit">Edit</button>
                            <button class="delete">Delete</button>
                        </div>
                    </div> -->
                </div>
            </section>
        </main>
    </aside>
    
    
</body>
</html>